.welcome-container {
  margin-left: 25px;
}
.welcome-image {
  max-width: 400px;
}
.wedding-couple {
  font-family: 'Amatic SC', cursive;
  letter-spacing: 1px;
  color: #edb0b0;
  font-size: 22px;
  margin: 0px;
}
.story-container-left {
  margin-right: 25px;
}
.story-container-right {
  margin-left: 25px;
}
.fa-circle {
  color: #edb0b0;
}
.gallery-image-left {
  padding: 0px 15px 0px 0px;
}
.gallery-image-center {
  padding: 0px 7.5px 0px 7.5px;
}
.gallery-image-right {
  padding: 0px 0px 0px 15px;
}
